/* CSS reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
html,
body,
#root {
    height: 100%;
}
body {
    background-color: var(--background);
    color: var(--text-light);
    font-family: "Nunito Sans", sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
}
main{
    margin-block: auto;
}
main > section{
    margin: auto;
}
button{
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.75rem;
    cursor: pointer;
}
button:focus-visible{
    outline: transparent;
}
button.primary{
    background-color: var(--primary);
    color: var(--text-dark);
}
button.secondary{
    background-color: var(--secondary);
    color: var(--text-light);
}