/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&family=Raleway:wght@500&display=swap");

/* Defining Colors */
:root {
    --text-light: #ffffff;
    --text-dark: #0b0514;
    --background: #0b0514;
    --primary: #9e75db;
    --secondary: #190c2d;
    --accent: #ac89e1;
}
