header {
    background-color: hsl(var(--secondary));
    color: hsl(var(--text-light));
}
.navbar {
    display: flex;
    max-width: 2000px;
    margin-inline: auto;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2rem;
    position: relative;
}
.nav-logo {
    font-size: 1.75rem;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: hsl(var(--text-light));
}
.settings-button-container {
    margin-left: auto;
    position: relative;
}
.settings-button {
    display: flex;
    padding: 0;
    background: transparent;
}
.settings-button:focus-visible {
    outline: transparent;
}
.settings-button svg {
    color: hsl(var(--primary));
    width: 28px;
    height: 28px;
}
section.settings {
    position: absolute;
    background-color: hsl(var(--secondary));
    top: 70%;
    right: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    max-width: 300px;
    width: 80%;

    opacity: 0;
    transition-property: opacity, top, right;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    pointer-events: none;
}
section.settings.expanded {
    opacity: 1;
    top: calc(100% + 10px);
    pointer-events: all;
    right: 10px;
}
.theme-option {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (min-width: 400px) {
    .navbar {
        padding: 1.5rem 3rem;
    }
    .nav-logo {
        font-size: 2rem;
    }
    .settings-button svg {
        width: 32px;
        height: 32px;
    }
}
